<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ToDo & Co{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A Todo list application build in symfony." name="description" />
        <meta content="Alkoma-jr" name="author" />

        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    {% block general %}
        <body class="hold-transition sidebar-mini">
            <div class="wrapper">
                <!-- Navbar -->
                {{ include('layouts/partials/_navbar.html.twig') }}
                <!-- /.navbar -->
                {% block body %}{% endblock %}
                <!-- Main Footer -->
                {{ include('layouts/partials/_footer.html.twig') }}
            </div>

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        </body>
    {% endblock %}
</html>
