<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">

    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button" data-toggle="tooltip" data-placement="top" title="{{ 'Full screen'|trans }}">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" data-toggle="tooltip" data-placement="top" title="{{ 'My profile'|trans }}">
                <i class="fas fa-user-alt-slash"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}" role="button" data-toggle="tooltip" data-placement="top" title="{{ 'Logout'|trans }}">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->
